* {
    margin: 0;
    padding: 0;
}

.body-bg {
    min-width: 1000px;
   background-image: url("bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #71080D;
}

/*.bg img {
    width: 100%;
}*/

.box {
    width: 100%;
   /* max-width: 1000px;*/
    margin: auto;
    text-align: center;
   /* position: absolute;
    top: 25%;
    left: 0;
    right: 0;*/
    margin-top: 130px;
}

.jz {
   /* float: left;
    width: 420px;*/
    height: auto;
    margin: auto;
    overflow: hidden;
    text-align: center;
   /* padding-left: 200px;*/
}

.jz p {
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
}

.jz span {
   /* display: block;
    width: 420px;
    height: 80px;*/
    display:block;
    margin: 20px 0;
    text-align: left;
    color: #f78a10;
    font-weight: 700;
    float: left;
}

.text-gradient {
    display: inline-block;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#fff600), to(#ff6e02));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.masked{
    background-image: -webkit-linear-gradient(top, #ff6e02 0%, #ff6e02 20%, #fff600 50%, #ff6e02 75%, #ff6e02 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 4s 1 linear;
}

@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}
.phone, .name{
    font-weight: 700;
}
.phone{
    font-size: 70px;
    line-height: 70px;
    font-family: 'Arial','verdana'
}
.name{
    font-size: 54px;
    line-height: 66px;
    margin-left: 15px !important;
    font-family: ' \5FAE\x8F6F\6B63\9ED1\4F53 ','\5FAE\8F6F\96C5\9ED1';
}
.start, .stop {
    width: 200px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 64px;
    border-radius: 10px;
    margin: auto;
    color: #ffffff;
    cursor: pointer;
}

.start {
    background: #24ADD7;
}

.stop {
    background: #FC6666;
}

.zjmd {
    display: none;
    /*float: left;*/
    width: 930px;
    height:185px;
   /* height: 500px;*/
    background: #666;
    margin-top: 30px;
    margin:0 auto;
    background: url("zjmd.png");
    padding:20px;
    overflow: hidden;
}
.zjmd .p1 {
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    padding: 0;
    font-weight: 700;
    color:#fff;
}

.zjmd p {
    line-height: 30px;
    text-align: left;
    text-align: justify;
    padding-left: 30px;
}
.zjmd .list{
    overflow: auto;
    height: 132px;
}
.zjma{
   /* float: left;*/
    width: 930px;
    height:185px;
    /* height: 500px;*/
    background: url("zjgz-img.png") center center no-repeat;
    margin-top: 30px;
   margin: 0 auto;
    padding:20px;
}
.zjma .p1{
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    padding-bottom:10px;
    font-weight: 700;
}
.zjma .list{
    margin-top:60px;
    margin-left: 185px;
}
.zjma .list p{
    line-height: 36px;
    text-align: left;
    text-align: justify;
    padding-left: 28px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
    color:#fff;
}
.list span{
    padding:3px 0;
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1';
}
.footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:200px;
    background-image:url("gift.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.bg-bubbles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    bottom: -160px;
    -webkit-animation: square 10s infinite;
    animation: square 10s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
    left: 10%;
    background:transparent url("40.png");
}
.bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    background:transparent url("80.png");
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 9s;
    animation-duration: 9s;
}
.bg-bubbles li:nth-child(3) {
    left: 25%;
    background:transparent url("40.png");
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    background:transparent url("60.png");
    -webkit-animation-duration: 12s;
    animation-duration: 12s;

}
.bg-bubbles li:nth-child(5) {
    left: 70%;
    background:transparent url("40.png");
}
.bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 90px;
    height: 90px;
    background:transparent url("90.png");
    -webkit-animation-delay: 3s;
    animation-delay: 3s;

}
.bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 30px;
    height: 30px;
    background:transparent url("30.png");
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 90px;
    height: 90px;
    background:transparent url("90.png");
    -webkit-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
}
.bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 40px;
    height: 40px;
    background:transparent url("40.png");
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration:7s;
    animation-duration: 7s;

}
.bg-bubbles li:nth-child(10) {
    left: 90%;
    width:60px;
    height: 60px;
    background:transparent url("60.png");
    -webkit-animation-delay: 11s;
    animation-delay: 11s;
}
@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}
@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-700px) rotate(600deg);
        transform: translateY(-700px) rotate(600deg);
    }
}