<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>控制台</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css"/>
    <script type="text/javascript" src="dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        /*<![CDATA[*/
        $(function () {

            var nowProcessData;

            function getCnLevel(level){
                switch (level) {
                    case 0:
                        return "特等奖";
                    case 1:
                        return "一等奖";
                    case 2:
                        return "二等奖";
                    case 3:
                        return "三等奖";
                    case 4:
                        return "四等奖";
                    case '0':
                        return "特等奖";
                    case '1':
                        return "一等奖";
                    case '2':
                        return "二等奖";
                    case '3':
                        return "三等奖";
                    case '4':
                        return "四等奖";
                    default:
                        return level;
                }
            }

            function nowProcess() {
                $.get("process", function (data) {
                    if ($.isEmptyObject(data) || data.sort == 0) {
                        nowProcessData = undefined;
                        $("#nowLevel").text("抽奖结束");
                    }
                    else {
                        nowProcessData = data;
                        $("#nowLevel").text(data.sort+"当前是抽" + data.desc + "等奖,共抽" + data.num + "名");
                    }

                });
            }

            function showPerson(data,level) {
                $("#result").html('');
                for (var i in data) {
                    $("#result").append('<span class="btn" data="'+level+'">' + data[i] + '-' + i + '</span>');
                }
            }

            $("#init").on("click", function () {
                $.get("reset", {}, function (data) {
                    $("#result").text(data);
                    nowProcess();
                })
            });

            function lottery() {
                $.get("lottery", {}, function (data) {
                    if (!$.isEmptyObject(data)) {
                        showPerson(data,nowProcessData.level);
                        nowProcess();
                    }
                })
            }

            $("#lottery").on("click", lottery);
            $("#unlottery").on("click", function () {
                $.get("unlottery", {}, function (data) {
                    nowProcess();
                    $("#level").text('');
                    $("#luckyPerson").trigger("click");
                })
            });

            $("#luckyPerson").on("click", function () {
                $.get("/lucky/" + $("#level").val(), {}, function (data) {
                    if ($("#level").val() != '') {
                        showPerson(data,$("#level").val());
                    }
                    else {
                        var result = $("#result");
                        result.html('');
                        for (var i in data) {
                            result.append("<h4>"+getCnLevel(i)+"</h4>");
                            var persons = data[i];
                            for (var j in persons) {
                                result.append('<span class="btn" data="'+i+'">' + persons[j] + '-' + j + '</span>');
                            }
                        }
                    }

                })
            });

            $("#result").on('click','.btn',function () {
                var btn = $(this);
                var person = btn.html().split("-");

                window.open("award?type=2&award="+btn.attr('data')+"&phone="+person[1]+"&name="+person[0]);

            });

            $("#person").on("click", function () {
                $("#level").val('');
                $.get("person", {}, function (data) {
                    showPerson(data);
                })
            });

            $("#download").on("click", function () {
                var frame = $("<iframe style='display: none;'/>");
                frame.appendTo($("body")).attr({ "src": "download", "display": "block" });
                setTimeout(function () {
                    frame.remove();
                }, 3000);
            });

              $("#createAward").on("click", function () {
                  var num = $("#num").val() || 1;
                  var award = $("#award").val() || '特别奖';
                  $.get("createSpecial", {award:award,num:num}, function (data) {
                      alert(data);
                  })
            });



            $(document).keydown(function (e) {
                if (!e) var e = window.event;
                if (e.keyCode == 32) {
                    lottery();
                }
            });

            nowProcess();
        });
        /*]]>*/
    </script>
</head>
<body>

<div class="panel panel-default">
    <div class="panel-heading"><h1 id="nowLevel"></h1></div>

    <div class="panel-body" th:if="${isManager}">
        <button class="btn btn-success" id="lottery"> <span class="glyphicon glyphicon-usd"></span>抽奖</button>
        <button id="unlottery" class="btn btn-danger"> <span class="glyphicon glyphicon-hand-left"></span>取消上次结果</button>
        <button id="init" class="btn btn-primary"> <span class="glyphicon glyphicon-refresh"></span>初始化</button>
    </div>
</div>
<div class="panel panel-default" th:if="${isManager}">
    <div class="panel-heading"><h3>增加额外奖项</h3></div>
    <div class="panel-body">
        <div class="input-group" >
            <div class="input-group-addon">奖项名称</div>
            <input class="form-control" type="text" id="award" value="特别奖"/>
            <div class="input-group-addon">数量</div>
            <input class="form-control" type="number" id="num" value="1"  min="1"/>
            <span class="input-group-btn">
                <button class="btn btn-success" id="createAward"> <span class="glyphicon glyphicon-thumbs-up"></span>添加</button>
            </span>
        </div>
    </div>
</div>



<div class="panel panel-default">
    <div class="panel-heading">
        <h3>抽奖结果</h3><br/>
        <div class="input-group" >
            <div class="input-group-addon">等级</div>
            <input class="form-control" type="text" id="level"/>
            <span class="input-group-btn">
                <button class="btn btn-primary" id="luckyPerson" type="button"><span class="glyphicon glyphicon-user"></span>中奖人员</button>
                <!--<button class="btn btn-success" id="person">全部人员</button>-->
                <button class="btn btn-success" id="download"><span class="glyphicon glyphicon-save"></span>下载列表</button>
            </span>
        </div>
    </div>
    <div class="panel-body">
        <div id="result">
        </div>
    </div>
</div>



</body>
</html>