<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>领奖</title>
    <link rel="stylesheet" href="dist/css/bootstrap.min.css"/>
    <style>
        .selected{
            background-color: #2cff41;
        }
    </style>
    <script type="text/javascript" src="dist/js/jquery.min.js"></script>
    <script type="text/javascript" src="dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        /*<![CDATA[*/
        $(function () {

            function getCnLevel(level){
                switch (level) {
                    case 0:
                        return "特等奖";
                    case 1:
                        return "一等奖";
                    case 2:
                        return "二等奖";
                    case 3:
                        return "三等奖";
                    case 4:
                        return "四等奖";
                    case '0':
                        return "特等奖";
                    case '1':
                        return "一等奖";
                    case '2':
                        return "二等奖";
                    case '3':
                        return "三等奖";
                    case '4':
                        return "四等奖";
                    default:
                        return level;
                }
            }

            $("#result").on('click','.btn',function () {
                var btn = $(this);
                var person = btn.html().split("-");
                if(btn.is(".btn-success")){
                    $.get("remReceived",{phone:person[1]},function(data){
                        if(data == true){
                            btn.removeClass("btn-success");
                        }
                    });
                }
                else{
                    $.get("addReceived",{phone:person[1]},function(data){
                        if(data == true){
                            btn.addClass("btn-success");
                        }
                    });

                }



                console.log(person);
            });

            $.get("/getReceived", {}, function (received) {
                var phones = received+'';
                $.get("/lucky", {}, function (data) {
                    var result = $("#result");
                    result.html('');
                    for (var i in data) {
                        result.append("<h4>" + getCnLevel(i) + "</h4>");
                        var persons = data[i];
                        for (var j in persons) {
                            if(phones.indexOf(j) > -1){
                                result.append('<span class="btn btn-success" data="' + i + '">' + persons[j] + '-' + j + '</span>');
                            }
                            else{
                                result.append('<span class="btn">' + persons[j] + '-' + j + '</span>');
                            }

                        }
                    }
                })
            });
        });
        /*]]>*/
    </script>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>领取奖品</h3>
    </div>
    <div class="panel-body">
        <div id="result">
        </div>
    </div>
</div>
</body>
</html>